<!-- check to see if errors exits -->
<% if(typeof errors!='undefined' ) {%>
    <!-- if errors are found, loop through errors array and display each error message on the screen -->
    <% errors.forEach(function(error) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <!-- displays the pertaining error message -->
            <%= error.message %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <% }); %>
            <% } %>